/* 공통 CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

a {
    text-decoration: none !important;
}

label {
    cursor: pointer;
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadein 0.1s linear;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 헤더 영역 */
header input {
    display: none;
}

/* [모바일] 햄버거 메뉴 */
header #headerToggleClose:checked ~ div #headerToggleCloseBtn,
header #headerToggleOpen:checked ~ div #headerToggleOpenBtn {
    display: none;
}

header #headerToggleClose:checked ~ div #navbarSupportedContent {
    display: none;
}

/* TOP 버튼 */
#topBtn {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-30%, -30%);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 900;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

#topBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

/* 로그인 모달 */
input[name="authModalToggle"] {
    display: none;
}

#authModalToggleLogin:checked ~ #loginModal,
#authModalToggleRegister:checked ~ #registerModal {
    display: block;
}

/* Up comming 축제 섹션 */
input[name="upcommingSlideToggle"] {
    display: none;
}

#upcommingSlide {
    width: 80%;
    display: flex;
    overflow: hidden;
    margin: 30px auto 0;
}

#upcommingSlide .slide {
    width: 100%;
    height: 80vh;
    position: relative;
}

#upcommingSlide .slide img {
    width: 100vw;
    height: 100%;
}

#upcommingSlide .slide p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#upcommingSlide .slide label {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#upcommingSlide .slide label.left {
    left: 5%;
}

#upcommingSlide .slide label.right {
    right: 5%;
}

@keyframes slideAnimation1 {
    0%, 30% {
        transform: translateX(0);
    }
    33%, 63% {
        transform: translateX(-100%);
    }
    66%, 96% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideAnimation2 {
    0%, 30% {
        transform: translateX(-100%);
    }
    33%, 63% {
        transform: translateX(-200%);
    }
    66%, 96% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideAnimation3 {
    0%, 30% {
        transform: translateX(-200%);
    }
    33%, 63% {
        transform: translateX(0);
    }
    66%, 96% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-200%);
    }
}

#upcommingSlideToggle1:checked ~ #upcommingSlide .slide {
    animation: slideAnimation1 12s infinite;
}

#upcommingSlideToggle2:checked ~ #upcommingSlide .slide {
    animation: slideAnimation2 12s infinite;
}

#upcommingSlideToggle3:checked ~ #upcommingSlide .slide {
    animation: slideAnimation3 12s infinite;
}

/* BEST 축제 섹션 */
#festivalOfTheMonth {
    display: flex;
    justify-content: space-around;
}

#festivalOfTheMonthTitle {
    text-align: center;
    margin-top: 100px;
}

input[name="festivalOfTheMonthToggle"],
.서울드럼페스티벌, .서울뮤직페스티벌, .서울국악축제, .서울페스타2024, .서울바비큐페스티벌 {
    display: none;
}

#festivalOfTheMonthToggleClose:not(:checked) ~ #festivalOfTheMonthModal {
    display: block;
}

#서울드럼페스티벌토글:checked ~ #festivalOfTheMonthModal .서울드럼페스티벌,
#서울뮤직페스티벌토글:checked ~ #festivalOfTheMonthModal .서울뮤직페스티벌,
#서울국악축제토글:checked ~ #festivalOfTheMonthModal .서울국악축제,
#서울페스타2024토글:checked ~ #festivalOfTheMonthModal .서울페스타2024,
#서울바비큐페스티벌토글:checked ~ #festivalOfTheMonthModal .서울바비큐페스티벌 {
    display: block;
}

#서울드럼페스티벌토글:checked ~ #festivalOfTheMonthModal #totalVisitorTable .서울드럼페스티벌,
#서울뮤직페스티벌토글:checked ~ #festivalOfTheMonthModal #totalVisitorTable .서울뮤직페스티벌,
#서울국악축제토글:checked ~ #festivalOfTheMonthModal #totalVisitorTable .서울국악축제,
#서울페스타2024토글:checked ~ #festivalOfTheMonthModal #totalVisitorTable .서울페스타2024,
#서울바비큐페스티벌토글:checked ~ #festivalOfTheMonthModal #totalVisitorTable .서울바비큐페스티벌 {
    display: table-row;
}

